@use "/home/dmitry/.config/eww/colors/catppuccin-mocha.scss" as colors;

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
}

.hud-window {
  margin-top: 3px;
  background: transparent;
  padding-left: 8px;
  padding-right: 8px;

  .kb_layout {
    color: colors.$crust;
    background: colors.$lavender;
    border: 1px solid rgba(colors.$crust, 1.0);
    border-radius: 5px;

    margin-top: 2px;
    margin-bottom: 2px;

    padding-left: 4px;
    padding-right: 4px;

    font-weight: bold;
  }

  .workspaces {
    background: colors.$mauve;
    border: 1px solid rgba(colors.$crust, 1.0);
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .normalws {
    color: colors.$base;
  }
  .normalbtn {
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .normalbtn:hover {
    background: colors.$lavender;
    border: 1px solid colors.$base;
    border-radius: 5px;
  }

  .fullws {
    color: colors.$base;
  }
  .fullbtn {
    background: rgba(colors.$peach, 0.8);
    border: 1px solid rgba(colors.$base, 1.0);
    border-radius: 50%;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .fullbtn:hover {
    background: rgba(colors.$peach, 1.0);
    border-radius: 5px;
  }

  .activews {
    color: colors.$crust;
    font-weight: bold;
  }
  .activebtn {
    background: rgba(colors.$green, 0.8);
    border: 1px solid colors.$crust;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .activebtn:hover {
    background: rgba(colors.$green, 1.0);
    border-radius: 5px;
  }

  .submap {
    color: colors.$crust;
    background: colors.$red;
    border: 1px solid rgba(colors.$crust, 1.0);
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
  }

  .datetime {
    background: colors.$teal;
    border: 1px solid rgba(colors.$crust, 1.0);
    margin-top: 3px;
    margin-bottom: 3px;

    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
  }
  .time {
    color: colors.$crust;
    font-weight: bold;
  }
  .date {
    background: colors.$crust;
    color: colors.$peach;
    font-weight: bold;
    margin: 3px 4px 3px 4px;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .day_name {
    background: colors.$crust;
    color: colors.$mauve;
    font-weight: bold;
    margin: 3px 4px 3px 4px;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .tray-box {
    background: colors.$yellow;
    border: 1px solid rgba(colors.$crust, 1.0);
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .tray-icon {
    color: colors.$crust;
    font-weight: bold;
  }
  .tray {
    background: colors.$crust;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 6px;

    menu {
      background: colors.$base;
      border: 1px solid colors.$blue;
      color: colors.$text;
      border-radius: 8px;
      padding: 10px 5px 10px 5px;
    }
    menuitem {
      color: colors.$text;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
    menuitem:hover {
      background: colors.$base;
      border: 1px solid colors.$blue;
      color: colors.$blue;
    }
  }

  .volume {
    color: colors.$crust;
    background: colors.$sky;
    border: 1px solid colors.$crust;
    border-radius: 5px;

    margin-top: 4px;
    margin-bottom: 4px;

    padding-left: 4px;
    padding-right: 6px;
  }

  .volume-val {
    background: colors.$crust;
    color: colors.$sky;
    border-radius: 3px;
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 2px;

    padding-left: 3px;
    padding-right: 3px;
  }

  .battery {
    color: colors.$crust;
    background: colors.$peach;
    border: 1px solid colors.$crust;
    border-radius: 5px;

    margin-top: 4px;
    margin-bottom: 4px;

    padding-left: 4px;
    padding-right: 4px;
  }

  .bat {
    background: colors.$crust;
    color: colors.$peach;
    border-radius: 3px;
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;

    padding-left: 3px;
    padding-right: 3px;
  }
}


.volume-window {
  background: transparent;

  .content {
    background: rgba(colors.$base, 0.8);
    padding: 15px 8px 15px 8px;
    margin-right: 6px;
    border-radius: 10px;
  }


  .volume {
    color: #000000;
    background: colors.$green;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    margin-bottom: 8px;
  }

  .volume-slider scale trough highlight {
    all: unset;
    background-color: colors.$green;
    color: colors.$crust;
    border-radius: 10px;
  }

  .volume-slider scale trough {
    all: unset;
    background-color: colors.$crust;
    border-radius: 50px;
    min-height: 200px;
    min-width: 10px;
  }
}


.brightness-window {
  background: transparent;

  .content {
    background: rgba(colors.$base, 0.8);
    padding: 15px 8px 15px 8px;
    margin-left: 6px;
    border-radius: 10px;
  }


  .brightness {
    color: colors.$crust;
    background: colors.$peach;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    margin-bottom: 8px;
  }

  .brightness-slider scale trough highlight {
    all: unset;
    background-color: colors.$peach;
    color: #000000;
    border-radius: 10px;
  }

  .brightness-slider scale trough {
    all: unset;
    background-color: colors.$crust;
    border-radius: 50px;
    min-height: 200px;
    min-width: 10px;
  }
}

