@use "/home/dmitry/.config/eww/colors/catppuccin-mocha.scss" as colors;

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
}

@mixin block-style($border-color: colors.$blue) {
  background: rgba(colors.$base, 0.65);
  border-radius: 8px;
  padding: 4px 0px 4px 0px;
  border: 1px solid rgba($border-color, 1.0);
}

@mixin special-font($color: colors.$text, $family: "Iosevka", $weight: normal, $size: 11pt) {
  color: $color;
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
}

.bar-window {
  background: transparent;
  margin: 5px 3px 5px 0px;

  .time-block {
    @include block-style();
  }

  .time {
    @include special-font($weight: bold, $size: 16pt);
  }

  .date-block {
    @include block-style();
  }

  .day {
    color: colors.$green;
    font-size: 10pt;
  }

  .date {
    @include special-font($color: colors.$peach, $weight: bold, $size: 8pt);
  }

  .kb-layout {
    @include block-style();
    @include special-font($weight: bold);
  }

  .bat-block {
    @include block-style();
  }

  .bat-status {
    @include special-font($weight: bold);
  }


  .workspaces {
    @include block-style();
  }

  .normalws {
    @include special-font($size: 13pt);
  }
  .normalbtn {
    margin-left: 14px;
    margin-right: 14px;
  }
  .normalbtn:hover {
    border: 1px solid colors.$lavender;
    border-radius: 5px;
  }

  .fullws {
    @include special-font($color: colors.$crust, $size: 13pt);
  }
  .fullbtn {
    background: rgba(colors.$peach, 0.8);
    border: 1px solid rgba(colors.$base, 1.0);
    border-radius: 50%;
    margin-left: 14px;
    margin-right: 14px;
  }
  .fullbtn:hover {
    background: rgba(colors.$peach, 1.0);
    border-radius: 5px;
  }

  .activews {
    @include special-font($color: colors.$crust, $weight: bold, $size: 13pt);
  }
  .activebtn {
    background: rgba(colors.$green, 0.8);
    border: 1px solid colors.$crust;
    border-radius: 5px;
    margin-left: 14px;
    margin-right: 14px;
  }
  .activebtn:hover {
    background: rgba(colors.$green, 1.0);
    border-radius: 5px;
  }

  .tray {
    @include block-style();

    menu {
      background: rgba(colors.$base, 0.8);
      border: 1px solid colors.$blue;
      color: colors.$text;
      border-radius: 8px;
      padding: 10px 5px 10px 5px;
    }
    menuitem {
      color: colors.$text;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
    menuitem:hover {
      background: colors.$base;
      border: 1px solid colors.$blue;
      color: colors.$blue;
    }
  }

  .system {
    @include block-style();

    .cpu {
    @include special-font($weight: bold);
    }

    .ram {
    @include special-font($weight: bold);
    }

    .temp {
    @include special-font($weight: bold);
    }
  }

  .sound {
    @include block-style();
  }

  .volume-val {
    @include special-font($weight: bold);
  }

  .micro-val {
    @include special-font($weight: bold);
  }
}

.bat-control-window {
  background: transparent;

  .bat-time {
    @include block-style();
    @include special-font($weight: bold);
    padding-left: 4px;
    padding-right: 4px;
  }
}

.sound-control-window {
  background: transparent;

  .text {
    @include block-style();
  }
}

.datetime-control-window {
  background: transparent;

  .time {
    @include block-style();
    @include special-font($color: colors.$teal, $size: 12pt, $weight: bold);
    padding-left: 6px;
    padding-right: 6px;
  }
  .day {
    @include block-style();
    @include special-font($color: colors.$green, $size: 12pt);
    padding-left: 6px;
    padding-right: 6px;
  }
  .date {
    @include block-style();
    @include special-font($color: colors.$peach, $size: 12pt);
    padding-left: 6px;
    padding-right: 6px;
  }
  .timezone {
    @include block-style();
    @include special-font($size: 12pt);
    padding-left: 6px;
    padding-right: 6px;
  }
  .timeshift {
    @include block-style();
    @include special-font($color: colors.$mauve, $size: 12pt);
  }
  .calendar {
    @include block-style();
  }

  .cal {
    /* @include special-font(); */

    &.highlight {
      padding: 8rem;
    }

    padding: .8rem .25rem 0rem;
    margin-left: 10px;

    calendar:selected {
      color: colors.$blue;
      font-weight: bold;
    }

    calendar.button {
      @include special-font($color: colors.$lavender, $weight: bold, $size: 14pt);
    }

    calendar.header {
      @include special-font($color: colors.$mauve, $weight: bold, $size: 14pt);
    }

    calendar.highlight {
      @include special-font($color: colors.$teal, $weight: bold, $size: 14pt);
    }

  }

}

