@use "/home/dmitry/.config/eww/colors/catppuccin-mocha.scss" as colors;

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
}

@mixin block-style($border-color: colors.$blue) {
  background: rgba(colors.$base, 0.80);
  border-radius: 8px;
  padding: 4px 0px 4px 0px;
  border: 1px solid rgba($border-color, 1.0);
}

@mixin special-font($color: colors.$text, $family: "Iosevka", $weight: normal, $size: 11pt) {
  color: $color;
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
}

.bar-window {
  background: transparent;
  margin: 5px 3px 5px 0px;

  .time-block {
    @include block-style();
  }

  .time {
    @include special-font($weight: bold, $size: 16pt);
  }

  .date-block {
    @include block-style();
  }

  .day {
    color: colors.$green;
    font-size: 10pt;
  }

  .date {
    @include special-font($color: colors.$peach, $weight: bold, $size: 8pt);
  }

  .kb-layout {
    @include block-style();
    @include special-font($weight: bold);
  }

  .bat-block {
    @include block-style();
  }

  .bat-status {
    @include special-font($weight: bold);
  }


  .workspaces-back {
    @include block-style();
    margin-left: 8px;
  }

  .workspaces {
    background: transparent;
  }

  .normalbtn {
    @include special-font($color: colors.$subtext1, $size: 13pt);
    background: colors.$mantle;
    border: 1px solid colors.$blue;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
    transition: all 0.1s ease;
  }
  .normalbtn:hover {
    margin-left: 0px;
  }

  .fullbtn {
    @include special-font($color: colors.$peach, $size: 13pt);
    background: colors.$mantle;
    border: 1px solid colors.$blue;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
    transition: all 0.1s ease;
  }
  .fullbtn:hover {
    margin-left: 0px;
  }

  .activebtn {
    @include special-font($color: colors.$green, $weight: bold, $size: 13pt);
    background: colors.$crust;
    border: 1px solid colors.$blue;
    border-radius: 5px 4px 4px 5px;
    margin-right: 6px;
    transition: all 0.1s ease;
  }
  .activebtn:hover {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .tray {
    @include block-style();

    menu {
      background: rgba(colors.$base, 0.8);
      border: 1px solid colors.$blue;
      color: colors.$text;
      border-radius: 8px;
      padding: 10px 5px 10px 5px;
    }
    menuitem {
      color: colors.$text;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
    menuitem:hover {
      background: colors.$base;
      border: 1px solid colors.$blue;
      color: colors.$blue;
    }
  }

  .system {
    @include block-style();

    .cpu {
    @include special-font($weight: bold);
    }

    .ram {
    @include special-font($weight: bold);
    }

    .temp {
    @include special-font($weight: bold);
    }
  }

  .weather {
    @include  block-style();

    .weather-icon {
    }

    .icon {
      @include special-font($color: colors.$sky, $size: 16pt);
    }
    .label {
      @include special-font($color: colors.$sky, $weight: bold, $size: 11pt);
    }

    .weather-data {
      margin-left: 6px;
      margin-right: 6px;
    }

    .temp {
      @include special-font($color: colors.$peach, $size: 9pt);
    }
    .speed {
      @include special-font($color: colors.$lavender, $size: 9pt);
    }

  }

  .sound {
    @include block-style();
  }

  .volume-val {
    @include special-font($weight: bold);
  }

  .micro-val {
    @include special-font($weight: bold);
  }

  .br-val {
    @include special-font($color: colors.$yellow, $weight: bold);
  }
}


.bat-control-window {
  background: transparent;

  .bat-time {
    @include block-style();
    @include special-font($weight: bold);
    padding-left: 4px;
    padding-right: 4px;
  }
}


.sound-control-window {
  background: transparent;

  .vol-content {
    @include block-style();
    padding-left: 3px;
    padding-right: 3px;
  }
  .volume {
    color: colors.$crust;
    background: colors.$green;
    border: 1px solid rgba(colors.$crust, 1.0);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    margin-bottom: 8px;
  }
  .volume-slider scale trough highlight {
    all: unset;
    background-color: colors.$green;
    color: colors.$crust;
    border: 1px solid rgba(colors.$crust, 1.0);
    border-radius: 10px;
  }
  .volume-slider scale trough {
    all: unset;
    background-color: colors.$crust;
    border-radius: 50px;
    min-height: 200px;
    min-width: 10px;
  }

  .mic-content {
    @include block-style();
    padding-left: 3px;
    padding-right: 3px;
  }
  .micro {
    color: colors.$crust;
    background: colors.$green;
    border: 1px solid rgba(colors.$crust, 1.0);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    margin-bottom: 8px;
  }
  .micro-slider scale trough highlight {
    all: unset;
    background-color: colors.$green;
    border: 1px solid rgba(colors.$crust, 1.0);
    color: colors.$crust;
    border-radius: 10px;
  }
  .micro-slider scale trough {
    all: unset;
    background-color: colors.$crust;
    border-radius: 50px;
    min-height: 200px;
    min-width: 10px;
  }

  .br-content {
    @include block-style();
    padding-left: 3px;
    padding-right: 3px;
  }
  .br {
    color: colors.$crust;
    background: colors.$yellow;
    border: 1px solid rgba(colors.$crust, 1.0);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    margin-bottom: 8px;
  }
  .br-slider scale trough highlight {
    all: unset;
    background-color: colors.$yellow;
    border: 1px solid rgba(colors.$crust, 1.0);
    color: #000000;
    border-radius: 10px;
  }
  .br-slider scale trough {
    all: unset;
    background-color: colors.$crust;
    border-radius: 50px;
    min-height: 200px;
    min-width: 10px;
  }
}

.datetime-control-window {
  background: transparent;

  .time {
    @include block-style();
    @include special-font($color: colors.$teal, $size: 12pt, $weight: bold);
    padding-left: 6px;
    padding-right: 6px;
  }
  .day {
    @include block-style();
    @include special-font($color: colors.$green, $size: 12pt);
    padding-left: 6px;
    padding-right: 6px;
  }
  .date {
    @include block-style();
    @include special-font($color: colors.$peach, $size: 12pt);
    padding-left: 6px;
    padding-right: 6px;
  }
  .timezone {
    @include block-style();
    @include special-font($size: 12pt);
    padding-left: 6px;
    padding-right: 6px;
  }
  .timeshift {
    @include block-style();
    @include special-font($color: colors.$mauve, $size: 12pt);
  }
  .calendar {
    @include block-style();
  }

  .cal {
    /* @include special-font(); */

    &.highlight {
      padding: 8rem;
    }

    padding: .8rem .25rem 0rem;
    margin-left: 10px;

    calendar:selected {
      color: colors.$blue;
      font-weight: bold;
    }

    calendar.button {
      @include special-font($color: colors.$lavender, $weight: bold, $size: 14pt);
    }

    calendar.header {
      @include special-font($color: colors.$mauve, $weight: bold, $size: 14pt);
    }

    calendar.highlight {
      @include special-font($color: colors.$teal, $weight: bold, $size: 14pt);
    }

  }
}


.sys-control-window {
  .sys-text {
    color: colors.$text;
  }

  .cpu {
    background: rgba(colors.$base, 0.80);
    border-radius: 8px;
    padding: 6px;
    border: 1px solid rgba(colors.$blue, 1.0);
  }
  .cpu-progress {
    background-color: colors.$crust;
    border-radius: 10px;
  }
  .ram-group {
    background: rgba(colors.$base, 0.80);
    border-radius: 8px;
    padding: 6px;
    border: 1px solid rgba(colors.$blue, 1.0);
  }
  .ram-progress {
    background-color: colors.$crust;
    border-radius: 10px;
    margin-bottom: 6px;
  }
  .temp {
    background: rgba(colors.$base, 0.80);
    border-radius: 8px;
    padding: 6px;
    border: 1px solid rgba(colors.$blue, 1.0);
  }
  .temp-progress {
    background-color: colors.$crust;
    border-radius: 10px;
  }
  .disk-group {
    background: rgba(colors.$base, 0.80);
    border-radius: 8px;
    padding: 6px;
    border: 1px solid rgba(colors.$blue, 1.0);
  }
  .disk-progress {
    background-color: colors.$crust;
    border-radius: 10px;
    margin-bottom: 6px;
  }
}


.weather-data-window {
  .weather {
    @include block-style();
  }

  .icon {
    @include special-font($color: colors.$sky, $size: 18pt, $weight: bold);
  }

  .label {
    @include special-font($color: colors.$sky, $weight: bold, $size: 10pt);
  }

  .temp-real {
    @include block-style();
    @include special-font($color: colors.$peach, $weight: bold);
    padding-left: 5px;
    padding-right: 5px;
  }

  .wind {
    @include block-style();
    @include special-font($color: colors.$lavender, $weight: bold);
    padding-left: 5px;
    padding-right: 5px;
  }

  .temp-feels {
    @include block-style();
    @include special-font($color: colors.$yellow, $weight: bold);
    padding-left: 5px;
    padding-right: 5px;
  }

  .pressure {
    @include block-style();
    @include special-font($color: colors.$flamingo, $weight: bold);
    padding-left: 5px;
    padding-right: 5px;
  }

  .humidity {
    @include block-style();
    @include special-font($color: colors.$blue, $weight: bold);
    padding-left: 5px;
    padding-right: 5px;
  }

  .visibility {
    @include block-style();
    @include special-font($color: colors.$green, $weight: bold);
    padding-left: 5px;
    padding-right: 5px;
  }

  .sunrise {
    @include block-style();
    @include special-font($color: colors.$pink, $weight: bold);
    padding-left: 5px;
    padding-right: 5px;
  }

  .sunset {
    @include block-style();
    @include special-font($color: colors.$red, $weight: bold);
    padding-left: 5px;
    padding-right: 5px;
  }
}


.submap-window {
  margin-top: 5px;

  .submap {
    color: colors.$crust;
    background: rgba(colors.$red, 0.8);
    border-radius: 5px;
    border: 1px solid colors.$crust;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
  }
}

