@define-color cc-bg rgba(30, 30, 46, 0.92);

@define-color noti-border-color #dcd7ba;
@define-color noti-bg #1e1e2e;
@define-color noti-bg-darker #2b2b39;
@define-color noti-bg-hover #1b1b2b;
@define-color noti-bg-focus #1b1b1b;
@define-color noti-close-bg #dcd7ba;
@define-color noti-close-bg-hover #dcd7ba;

@define-color text-color #dcd7ba;
@define-color text-color-disabled #828282;
@define-color bg-selected #7e9cd8;
@define-color border-green #76946a;
@define-color border-color #89b4fa;
@define-color red-base #c34043;
@define-color red-hover #e46876;
@define-color green-base #98bb6c;
@define-color blue-base #7e9cd8;

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  border-radius: 0;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: transparent;
  border-radius: 6px;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0;
}

.notification,
.notification-content,
.notification-action,
.notification-default-action,
.inline-reply-entry,
.inline-reply-button,
.widget-dnd,
.widget-dnd>switch,
.widget-dnd>switch slider,
.widget-label>label,
.widget-buttons-grid,
.widget-buttons-grid>flowbox>flowboxchild>button,
.widget-volume,
.widget-backlight,
.widget-mpris,
.widget-mpris>box>button,
.widget-mpris-player,
.widget-mpris-album-art {
  border-radius: 0;
}

.notification {
  background-color: @cc-bg;
  border-radius: 6px;
  border: 1px solid @border-color;
  margin: 3px -2px 3px 0;
}

.close-button {
  background: @red-base;
  color: @cc-bg;
  text-shadow: none;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border-radius: 0;
  border: none;
}

.notification:hover .close-button {
  opacity: 1;
}

.close-button:hover {
  background: @red-hover;
  box-shadow: none;
  transition: all 0.15s ease-in-out;
}

.notification-action {
  border: 2px solid @border-green;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @blue-base;
  background: @cc-bg;
}

.inline-reply-entry {
  background: @noti-bg-darker;
  color: @text-color;
  caret-color: @text-color;
  border: 1px solid @noti-border-color;
}

.inline-reply-button {
  margin-top: 4px;
  margin-left: 4px;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  color: @text-color;
}

.inline-reply-button:disabled {
  background: transparent;
  color: @text-color-disabled;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @noti-bg-hover;
}

.summary {
  font-size: 14pt;
  font-weight: 700;
  background: transparent;
  color: @border-color;
  text-shadow: none;
}

.time {
  font-size: 12pt;
  font-weight: 700;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 11pt;
  font-weight: 400;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.control-center {
  background: @cc-bg;
  border: 1px solid @border-color;
  border-radius: 8px;
}

.widget-dnd {
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 5px 10px;
  font-size: large;
  color: @blue-base;
}

.widget-dnd>switch {
  background: @blue-base;
  border-radius: 0;
}

.widget-dnd>switch:checked {
  background: @red-base;
  border: 1px solid @red-base;
}

.widget-label>label {
  font-size: 1rem;
  color: @text-color;
  margin: 6px;
}

.widget-buttons-grid {
  font-size: x-large;
  padding: 5px;
  margin: 0px 5px 5px 5px;
  background: transparent;
  border-radius: 6px;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 3px;
  padding: 4px 10px;
  background: @cc-bg;
  color: @text-color;
  border-radius: 6px;
  border: 1px solid @border-color;
  transition: background-color 0.15s ease-in-out;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @blue-base;
  color: @cc-bg;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked {
  background: @green-base;
  color: @cc-bg;
  border: 1px solid @green-base;
}

.widget-mpris {
  color: @text-color;
  background: transparent;
  margin: 0px 10px 10px 10px;
  box-shadow: none;
}

.widget-mpris>box>button,
.widget-mpris-player,
.widget-mpris-album-art {
  border-radius: 8px;
  box-shadow: none;
  margin: 10px;
}

picture.mpris-background {
  opacity: 0;
}

.notification-action>button {
  color: @text-color;
  border-radius: 6px;
}

.notification-action>button:hover {
  background-color: @border-color;
  color: @cc-bg;
}
