@use "/home/dmitry/.config/eww/colors/catppuccin-mocha.scss" as colors;

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
}

.dash-bar-window {
  background: transparent;
  margin: 4px 4px 4px 0px;

  .panel {
    background: rgba(colors.$base, 0.6);
    border-radius: 5px;
    border: 1px solid colors.$crust;
  }
}


.basic-dash-window {
  background: transparent;

  .main {
    background: rgba(colors.$base, 0.4);
    border-radius: 5px;
    margin: 5px;
    border: 1px solid colors.$blue;
    padding: 10px;
  }

  .clock {
    font-family: Iosevka;
  }
}
