@use "/home/dmitry/.config/eww/colors/catppuccin-mocha.scss" as colors;

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 11pt;
    color: colors.$text;
}

.wallpapers-window {
  .title {
    font-size: 14pt;
    font-weight: bold;
    margin-left: 10px;
  }

  .refresh {
    padding: 6px;
    border-radius: 5px;

    transition: all 0.1s ease;

    &:hover {
      background: rgba(colors.$crust, 0.6);
    }
    &:active {
      background: rgba(colors.$crust, 0.9);
    }
  }

  .img-button {
    background-repeat: no-repeat;
    border-radius: 12px;
    background-size: 150px;
    min-height: 150px;
    min-width: 150px;

    transition: all 0.3s ease;
  }

  .img-container {
    background: rgba(colors.$crust, 0.7);
    border-radius: 8px;
    padding: 10px;
  }

}
.wallpapers {
  background: rgba(colors.$base, 0.6);
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
}

