@use "/home/dmitry/.config/eww/colors/catppuccin-mocha.scss" as colors;

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 11pt;
    color: colors.$text;
}

@mixin special-font($color: colors.$text, $family: "Iosevka", $weight: normal, $size: 11pt) {
  color: $color;
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
}

// Panel window
.panel-window {
  background: transparent;

  // Menu button
  .menu-icon {
    font-weight: bold;
    font-size: 13pt;
  }
  .menu-button {
    border-radius: 3px;

    padding-left: 6px;
    padding-right: 8px;

    margin-top: 3px;
    margin-bottom: 3px;

    transition: all 0.1s ease;

    &:hover {
      background: rgba(colors.$crust, 0.6);
    }
    &:active {
      background: rgba(colors.$crust, 0.9);
    }
  }

  // Workspaces
  .activebtn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 8px;

    border-radius: 50%;
    transition: all 0.1s ease;

    &:hover {
      background: rgba(colors.$crust, 0.6);
    }
    &:active {
      background: rgba(colors.$crust, 0.9);
    }
  }

  .normalbtn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 8px;

    color: colors.$surface2;
    border-radius: 50%;
    transition: all 0.1s ease;

    &:hover {
      background: rgba(colors.$crust, 0.6);
    }
    &:active {
      background: rgba(colors.$crust, 0.9);
    }
  }

  .fullbtn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 8px;

    color: colors.$subtext0;
    border-radius: 50%;
    transition: all 0.1s ease;

    &:hover {
      background: rgba(colors.$crust, 0.6);
    }
    &:active {
      background: rgba(colors.$crust, 0.9);
    }
  }

  // Datetime
  .day {}
  .date {}
  .number {}
  .time {}

  // Notifications
  .noti-icon {
    font-weight: bold;
    font-size: 13pt;
  }
  .noti-button {
    border-radius: 3px;

    padding-left: 6px;
    padding-right: 11px;

    margin-top: 3px;
    margin-bottom: 3px;

    transition: all 0.1s ease;

    &:hover {
      background: rgba(colors.$crust, 0.6);
    }
    &:active {
      background: rgba(colors.$crust, 0.9);
    }
  }

  // Tray
  .tray {
    menu {
      background: rgba(colors.$base, 0.4);
      color: colors.$text;
      border-radius: 8px;
      padding: 10px 5px 10px 5px;
    }
    menuitem {
      color: colors.$text;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;
      transition: all 0.1s ease;
      &:hover {
        background: rgba(colors.$crust, 0.6);
      }
      &:active {
        background: rgba(colors.$crust, 0.9);
      }
    }
  }

  // Tweaker
  .tweak-icon {}
  .tweak-button {
    border-radius: 3px;

    padding-left: 6px;
    padding-right: 10px;

    margin-top: 3px;
    margin-bottom: 3px;

    transition: all 0.1s ease;

    &:hover {
      background: rgba(colors.$crust, 0.6);
    }
  }

  // Battery
  .bat {}
  .bat-icon-normal {}
  .bat-icon-low {
    color: colors.$peach;
  }
  .bat-icon-critical {
    color: #ee0000;
  }
  .bat-time {
    margin-right: 8px;
    font-size: 9pt;
  }
}
.panel {
  background: rgba(colors.$base, 0.3);
  padding-left: 6px;
  padding-right: 8px;
}


// Control window
.control-window {
  background: transparent;

  // Brightness
  .brightness {
    background: rgba(colors.$crust, 0.6);
    padding: 6px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
  }
  .brightness-slider scale trough highlight {
    all: unset;
    background-color: colors.$text;
    color: colors.$crust;
    border-radius: 10px;
  }
  .brightness-slider scale trough {
    all: unset;
    background-color: colors.$crust;
    border-radius: 50px;
    min-height: 6px;
    min-width: 200px;
  }

  // Sound
  .sound {
    background: rgba(colors.$crust, 0.6);
    padding: 6px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
  }

  // Speaker
  .speaker-slider scale trough highlight {
    all: unset;
    background-color: colors.$text;
    color: colors.$crust;
    border-radius: 10px;
  }
  .speaker-slider scale trough {
    all: unset;
    background-color: colors.$crust;
    border-radius: 50px;
    min-height: 6px;
    min-width: 200px;
  }

  // Microphone
  .micro-slider scale trough highlight {
    all: unset;
    background-color: colors.$text;
    color: colors.$crust;
    border-radius: 10px;
  }
  .micro-slider scale trough {
    all: unset;
    background-color: colors.$crust;
    border-radius: 50px;
    min-height: 6px;
    min-width: 200px;
  }

  // Weather
  .weather {
    background: rgba(colors.$crust, 0.6);
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px;
    border-radius: 10px;
  }

  // Player
  .player {
    background: rgba(colors.$crust, 0.6);
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px;
    border-radius: 10px;
  }
  .player-image {
    background-repeat: no-repeat;
    background-size: 48px;
    min-height: 48px;
    min-width: 48px;
    border-radius: 8px;
  }
  .player-slider scale trough highlight {
    all: unset;
    background-color: colors.$text;
    color: colors.$crust;
    border-radius: 10px;
  }
  .player-slider scale trough {
    all: unset;
    background-color: colors.$crust;
    border-radius: 50px;
    min-height: 6px;
    min-width: 200px;
  }
  .player-btn {
    border-radius: 3px;
    transition: all 0.1s ease;

    &:hover {
      background: rgba(colors.$crust, 0.6);
    }
    &:active {
      background: rgba(colors.$crust, 0.9);
    }
  }
}
.control {
  background: rgba(colors.$base, 0.6);
  border-radius: 10px;
  margin: 10px;
  padding: 10px 4px 4px 4px;
}

// Datetime window
.datetime-window {
  // Timmezone
  .timezone-header {
    background: rgba(colors.$crust, 0.6);
    border-radius: 5px;
    padding: 6px;
  }
  // Callendar
  .cal-box {
    background: rgba(colors.$crust, 0.6);
    border-radius: 5px;
  }
  .cal {
    &.highlight {
      padding: 8rem;
    }

    padding: 2px;

    calendar:selected {
      color: colors.$blue;
      font-weight: bold;
    }

    calendar.button {
      @include special-font($color: colors.$lavender, $weight: bold, $size: 14pt);
    }

    calendar.header {
      @include special-font($color: colors.$mauve, $weight: bold, $size: 14pt);
    }

    calendar.highlight {
      @include special-font($color: colors.$teal, $weight: bold, $size: 14pt);
    }

  }
}
.datetime {
  background: rgba(colors.$base, 0.6);
  border-radius: 10px;
  margin: 10px;
  padding: 8px;
}


// Menu window
.main-menu-window {
  background: transparent;

  .folder-btn {
    padding-left: 2px;
    padding-right: 2px;
    transition: all 0.1s ease;
    border-bottom: 1px solid transparent;
    .text {
      transition: all 0.1s ease;
    }

    &:hover {
      border-bottom: 1px solid colors.$text;
    }

    &:active {
      .text {
        color: colors.$surface2;
      }
      border-bottom: 1px solid colors.$subtext0;
    }
  }

  .spacer {
    border-bottom: 1px solid colors.$subtext1;
  }

  .project-btn {
    padding-left: 2px;
    padding-right: 2px;
    transition: all 0.1s ease;
    border-bottom: 1px solid transparent;
    .text {
      transition: all 0.1s ease;
    }
    .path-text {
      color: colors.$subtext0;
    }

    &:hover {
      border-bottom: 1px solid colors.$text;
    }

    &:active {
      .text {
        color: colors.$surface2;
      }
      border-bottom: 1px solid colors.$subtext0;
    }
  }

}
.main-menu {
  background: rgba(colors.$base, 0.6);
  border-radius: 10px;
  margin: 10px;
  padding: 8px;
}

// Submap
.submap-window {
  margin-top: 6px;
  padding: 6px;

  .submap {
    background: rgba(colors.$base, 0.6);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
  }
}
