workspace "browser"

include "input.kdl"
include "output.kdl"
include "layout.kdl"

environment {
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  XCURSOR_SIZE "24"
  XCURSOR_THEME "Colloid-Cursors"
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "qt6ct"
  // QT_AUTO_SCREEN_SCALE_FACTOR "2"
  // GDK_SCALE "2"
  GTK_THEME "Catppuccin-Mocha-Standard-Lavender-Dark"
  GDK_BACKEND "wayland"
  GTK_ICON_THEME "Papirus-Dark"
  XDG_DATA_DIRS "/usr/share:/usr/local/share:$HOME/.local/share:$HOME/.icons"
}
spawn-sh-at-startup "awww-daemon &"
spawn-sh-at-startup "awww img ~/.wallpaper --transition-type none"
spawn-at-startup "swaync"
spawn-sh-at-startup "~/.scripts/battery_allert.sh"
spawn-at-startup "~/.config/eww/widgets/panel/launch.sh"
spawn-sh-at-startup "systemctl --user start opentabletdriver.service"
spawn-sh-at-startup "pkill swayidle; echo '10 minutes' > /tmp/idle-time; $NIRICONF/scripts/swayidle.sh"
// spawn-sh-at-startup "~/.config/eww/widgets/hud/launch.sh"
// spawn-sh-at-startup "~/.config/eww/widgets/controls/launch.sh"
hotkey-overlay {
  skip-at-startup
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
  slowdown 2.0
}
window-rule {
  // match app-id="hiddify$"
  match app-id="nemo$"
  open-floating true
  default-column-width {
    fixed 900
  }
  default-window-height {
    fixed 800
  }
}
window-rule {
  match app-id="firefox$"
  match app-id="Happ$"
  match app-id="org.telegram.desktop$"
  open-on-workspace "browser"
}
window-rule {
  geometry-corner-radius 8
  clip-to-geometry true
}
layer-rule {
  match namespace="^awww-daemon$"
  place-within-backdrop true
}
layer-rule {
  match namespace="^panel$"
}
overview {
  backdrop-color "transparent"
  workspace-shadow {
    off
  }
}
gestures {
  dnd-edge-view-scroll {
    trigger-width 30
    delay-ms 100
    max-speed 1500
  }
  dnd-edge-workspace-switch {
    trigger-height 50
    delay-ms 100
    max-speed 1500
  }
  hot-corners {
    // off

  }
}
recent-windows {
  // off
  debounce-ms 750
  open-delay-ms 150
  highlight {
    active-color "#999999ff"
    urgent-color "#ff9999ff"
    padding 30
    corner-radius 12
  }
  previews {
    max-height 480
    max-scale 0.5
  }
  binds {
    Alt+Tab {
      next-window
    }
    Alt+Shift+Tab {
      previous-window
    }
    Alt+grave {
      next-window filter="app-id"
    }
    Alt+Shift+grave {
      previous-window filter="app-id"
    }
    Mod+Tab {
      next-window
    }
    Mod+Shift+Tab {
      previous-window
    }
    Mod+grave {
      next-window filter="app-id"
    }
    Mod+Shift+grave {
      previous-window filter="app-id"
    }
  }
}
include "keybindings.kdl"

